@model IEnumerable<FrontendPiedraPapelTijera.Models.JugadorViewModel>

<input type="hidden" id="inputIdPartida" value="@Model.FirstOrDefault().IdPartida" />
<input type="hidden" id="urlGuardarTurno" value="@Url.Action("RegistrarTurno", "Home")" />
<input type="hidden" id="urlIniciarRonda" value="@Url.Action("IniciarNuevaRonda", "Home", new {idPartida = @Model.FirstOrDefault().IdPartida})" />

<div class="">
    <span>@Html.DisplayNameFor(model => model.IdPartida): @Html.DisplayFor(model => model.FirstOrDefault().IdPartida)</span>
</div>

<div id="contendorResultadoPartida"></div>

<script>
    $("#contendorResultadoPartida").load("@(Url.Action("ObtenerResultadosPartida", "Home", new { idPartida = Model.FirstOrDefault().IdPartida }))", function (response, status, xhr) {
        if (status == "error") {
            $('#mensajeError').html(xhr.statusText);

            $('#mensajeError').fadeIn();
            setTimeout(function () {
                $('#mensajeError').fadeOut();
            }, 5000);
        }
    });
</script>