@model IEnumerable<FrontendPiedraPapelTijera.Models.ResultadoPartidaViewModel>

 @await Html.PartialAsync("_Turno", Model)

<div class="text-center textTurnoJugador">
    <h2 class="text-danger"> Resultados</h2>
</div>

@if(Model == null || Model.Count() == 0)
{
    <div class="card text-white bg-light mb-3 no-results">
        <div class="card-body">
            @Html.Raw("Aun no tenemos ningun resultado")
        </div>
    </div>
}else
{
    <div class="contendorJugadoresResultados mb-5">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <label class="control-label">@Html.DisplayNameFor(m => item.IdJugador):</label>
                            <p class=" check-control">
                                @Html.DisplayFor(m => item.IdJugador)
                            </p>
                        </div>

                        <div class="col-lg-9 col-md-9">
                            <label class=" control-label">@Html.DisplayNameFor(m => item.Nombre):</label>
                            <p class="check-control">
                                @Html.DisplayFor(m => item.Nombre)
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <label class="control-label">@Html.DisplayNameFor(m => item.TurnosGanados):</label>
                            <p class="check-control">
                                @Html.DisplayFor(m => item.TurnosGanados)
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label class="control-label">@Html.DisplayNameFor(m => item.TurnosEmpatados):</label>
                            <p class="check-control">
                                @Html.DisplayFor(m => item.TurnosEmpatados)
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label class="control-label">@Html.DisplayNameFor(m => item.TurnosPerdidos):</label>
                            <p class="check-control">
                                @Html.DisplayFor(m => item.TurnosPerdidos)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}